@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-red: hsl(4, 100%, 67%);
  --color-blue-800: hsl(234, 29%, 20%);
  --color-blue-700: hsl(235, 18%, 26%);
  --color-grey: hsl(0, 0%, 58%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: var(--color-blue-700);
  width: 100%;
  font-size: 1.1rem;
  color: var(--color-blue-800);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .card-signup {
    background: var(--color-white);
    display: flex;
    padding: 1.5rem;
    border-radius: 2rem;
    max-width: 65%;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 4rem;

      header {
        .header__title {
          font-size: 3.7rem;
          margin-bottom: 0.5rem;
        }
      }

      .benefits {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .benefits__item {
          display: flex;
          gap: 0.5rem;
          align-items: center;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        .form__label-info {
          display: flex;
          justify-content: space-between;
          font-size: 0.8rem;
          font-weight: 700;

          .form__error-message {
            color: var(--color-red);
          }
        }

        .form__active-elements {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .form__input,
          .form__subscribe-button {
            font-size: 1.1rem;
            padding: 1.2rem 1rem;
            border-radius: 0.5rem;
            font-family: "Roboto", sans-serif;
          }
          .form__input {
            border: 1px solid var(--color-grey);

            &.error {
              background: hsla(5, 87%, 94%, 0.992);
              border: 1px solid var(--color-red);

              &::placeholder {
                color: var(--color-red);
              }
            }
          }

          .form__subscribe-button {
            font-weight: 700;
            border: none;
            background: var(--color-blue-800);
            color: var(--color-white);
          }
        }
      }
    }
    picture {
      > img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .card-success {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: var(--color-white);
    max-width: 35%;
    padding: 3rem;
    border-radius: 2rem;

    .card-success__icon {
      height: 4rem;
      align-self: flex-start;
      width: auto;
    }

    .success-card__title {
      font-size: 3.7rem;
      font-weight: 700;
    }

    .success-card__email {
      font-weight: 700;
    }

    .card-success__dismiss-button {
      font-size: 1.1rem;
      padding: 1.2rem 1rem;
      border-radius: 0.5rem;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      border: none;
      background: var(--color-blue-800);
      color: var(--color-white);
    }
  }

  .hidden {
    display: none !important;
  }
}

@media (hover: hover) {
  main {
    .card-signup {
      .container {
        form {
          .form__active-elements {
            .form__input:focus {
              outline: none;
              border: 1px solid black;
            }

            .form__subscribe-button:hover {
              background: var(--color-red);
              box-shadow: 0rem 1.5rem 2rem hsla(4, 100%, 67%, 0.373);
            }
          }
        }
      }
    }

    .card-success {
      .card-success__dismiss-button:hover {
        background: var(--color-red);
        box-shadow: 0rem 1.5rem 2rem hsla(4, 100%, 67%, 0.373);
      }
    }
  }
}

@media (max-width: 1267px) {
  body {
    padding: 2rem;
  }

  main {
    .card-signup {
      flex-direction: column;
      max-width: 80%;

      .container {
        order: 1;
        margin: 1rem 0;
        gap: 2rem;

        header {
          .header__title {
            margin-bottom: 0.5rem;
            font-size: 3rem;
          }
        }

        picture {
          order: 0;
          > img {
            width: 100%;
            display: block;
            height: auto;
          }
        }
      }
    }

    .card-success {
      max-width: 50%;
      gap: 1rem;
      padding: 2rem;

      .success-card__title {
        font-size: 3rem;
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    font-size: 0.8rem;
    padding: 1rem;
  }
  main {
    .card-signup {
      max-width: 100%;
      padding: 0;
      border-radius: 0;

      .container {
        padding: 2rem 1rem;
        margin: 0;

        header {
          .header__title {
            margin-bottom: 0.5rem;
            font-size: 2rem;
          }
        }
        form {
          .form__label-info {
            font-size: 0.6rem;
          }
          .form__active-elements {
            .form__input,
            .form__subscribe-button {
              font-size: 0.75rem;
              padding: 0.75rem 1rem;
            }
          }
        }
      }

      picture {
        > img {
          width: 100%;
          display: block;
          height: auto;
        }
      }
    }
  }
}
